* {
  margin: 0;
  padding: 0;
}

svg {
  width: 100%;
}
path {
  transition: all 0.5s;
  fill: rgba(0, 0, 0, 0.6);
  stroke: rgba(0, 0, 0, 0.5);
}

.indicator {
  position: absolute;
  display: inline;
  background: rgba(59, 55, 75, 0.774);
  color: #f1f1f1;
  padding: 10px 30px;
  /* font:10px Arial; */
  border-radius: 5px;
  border: 7px double #ffffff;
  min-width: 200px;
  min-height: 50px;
  border-radius: 0px 50px 0px 50px;
  transition: visibility 0s, opacity 0.5s linear;
  /* text-transform:capitalize; */
  display: none;
  box-shadow: -10px 17px 26px 5px rgba(0, 0, 0, 0.32);
}

.indicator p {
  margin-top: 5px;
}

/* .indicator a {
  display: block;
  width: 115px;
  height: 25px;
  background: #4e9caf;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
} */



/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  /* font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif; */
  font-size: 14px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.clear {
  clear: both;
}
.name {
  float: left;
  margin-right: 30px;
}
/*.flag{position:absolute;top:10px;right:20px;border:3px solid #f7ffe8;border-radius:3px;
  }*/
.capital {
  clear: both;
}

html {
  /* background: #ECECEC; */
  background: #f2efe9;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

svg {
  width: 100%;
  margin-top: 2%;
}

path {
  transition: all 0.5s;
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(0, 0, 0, 0.5);
}

/* .indicator {
  position: absolute;
  display: inline;
  background: rgba(0, 0, 0, 1);
  color: #f1f1f1;
  padding: 10px 30px;
  font: 20px Arial;
  border-radius: 5px;
  min-width: 300px;

  text-transform: capitalize;
  display: none;


} */

.flag {
  width: 80px;
}

.clear {
  clear: both;
}

.name {
  float: left;
  margin-right: 30px;
}

/*.flag{position:absolute;top:10px;right:20px;border:3px solid #f7ffe8;border-radius:3px;
}*/

.regs {
  columns: 5;
  padding: 10px;
}

.reg span {
  font-size: 10px;
}

.regs div {
  width: auto;
  font-size: 14px;
  /* columns: 3;*/
  cursor: pointer;
}

.capital {
  clear: both;
}
